@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
:root {
    --background: rgb(17, 17, 17);
    background-color: var(--background);
    color: white;
    font-family: "EB Garamond", serif;
    text-align: center;
}
